{% extends "base.html" %}

{% block content %}

{% load crispy_forms_tags %}

<!-- {% if request.user == comment.author %} -->

<div class="container-fluid">
    <div class="row">
        <div class="col-md-6 mx-auto">
            <div class="card card-body">
                <form method="POST" action="{% url 'delete_comment' comment.id %}">
                    {% csrf_token %}
                    <h1>Delete this comment?</h1>
                    <h3 class="container-fluid mx-auto">
                        <button type="submit" class="btn btn-secondary btn-lg m-3">Yes</button>
                        <a class="btn btn-secondary btn-lg m-3" href="{% url 'post_detail' comment.post.slug %}">No</a>
                    </h3>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- {% endif %} -->

{% endblock %}