{% extends "base.html" %}

{% block content %}

{% load crispy_forms_tags %}

{% if request.user == post.author %}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-6">
            <div class="card card-body">
                <div>
                    Edit Question
                </div>
                <form method="POST" action="{% url 'edit_post' post.id %}">
                    {{ edit_form | crispy }}
                    {% csrf_token %}
                    <div>
                        <button type="submit" class="btn btn-secondary">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

{% endif %}

{% endblock %} 