{% extends "base.html" %}

{% block content %}

<div class="container-fluid">
    <div class="row">

        <!-- Blog Entries Column -->
        <div class="col-12 mt-3 left">
            <div class="row">
                <div class="col-md-8 offset-md-2">
                    <div class="card mb-4 text-center">
                        <div class="card-body">
                            {% if user.is_authenticated %}
                            <hr />
                            <div> Hello and welcome to CSSNN! Your home for code related news and updates. 
                                Here at CSSNN.com, you have the ability to view our list of submitted post, 
                                reply to them in the form of a comment, or create your own original news 
                                post to be submitted to the site. You can also edit and delete your existing 
                                posts, as well as any comments you have made. Click <a href="{% url 'post_list' %}">here</a> or use the link 
                                below to view our post list.  Click <a href="{% url 'make_post' %}">here</a> or use the link below to create 
                                your own post. Happy browsing! 
                            </div>
                            <div class="mx-auto">
                                <span class="p-1"><a class="btn btn-secondary" href="{% url 'post_list' %}">View Posts</a></span> <span class="p-1"><a class="btn btn-secondary" href="{% url 'make_post' %}">Create Post</a></span>
                            </div>
                            <hr />
                            {% else %}
                            <hr />
                            <div> Hello and welcome to CSSNN! Your home for code related news and updates. 
                                Here at CSSNN.com, you have the ability to view our list of submitted post, 
                                reply to them in the form of a comment, or create your own original news 
                                post to be submitted to the site. You can also edit and delete your existing 
                                posts, as well as any comments you have made. Click <a href="{% url 'post_list' %}">here</a> or use the link 
                                below to view our post list.  To make posts on our site, you will need to 
                                create an account and register. Click <a href="{% url 'account_signup' %}">here</a> or use the link 
                                below to sign up, after which you will be able to create your own posts. 
                                Happy browsing! 
                            </div>
                            <div class="mx-auto">
                                <span class="p-1"><a class="btn btn-secondary" href="{% url 'post_list' %}">View Posts</a></span> <span class="p-1"><a class="btn btn-secondary" href="{% url 'account_signup' %}">Register</a></span>
                            </div>
                            <hr />
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% if is_paginated %}
    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center">
            {% if page_obj.has_previous %}
            <li><a href="?page={{ page_obj.previous_page_number }}" class="page-link">&laquo; PREV </a></li>
            {% endif %}
            {% if page_obj.has_next %}
            <li><a href="?page={{ page_obj.next_page_number }}" class="page-link"> NEXT &raquo;</a></li>

            {% endif %}
        </ul>
    </nav>
    {% endif %}
</div>

{%endblock%}